<form class="px-5 py-5">
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter text:</label>
    <textarea class="form-control" #myTextArea rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary btn-lg" (click)="onClickSubmitButton(myTextArea.value)">Submit</button>
</form>